body{
    margin: -5px;
}

.nav-list{
    list-style: none;
    display: flex;
    background-color: rgba(111, 168, 111, 0.634);
    margin-left: 0px;
}

.item-lista{
    margin: 30px;
}

a{
    text-decoration: none;   
    color: black;
}

